<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<main>
		<h1>root</h1>
		<% if user_signed_in? %>
		<%= button_to "logout", destroy_user_session_path, method: :delete %>
		<% end %>
	</main>
</body>
</html>